
## 需求
制作一个类似于nazo的闯关解谜游戏网页。

## 页面元素
### 开始页面
只有一个登陆框，用以输入用户名和密码

### 正常闯关页面
1.左上角有关卡序号和关卡名称
2.页面中间就是主要的谜题或者游戏
3.右上角有一个提示按钮，点击后可以弹出一个小弹框，用以展示提示文本。


## 细节
1. 每一个网页上有一道谜题或游戏。当解开这个谜题或通关这个游戏后，会展示一个uuid，网站根域名加上这个uuid，即是下一关的地址。
2. 游戏通关或解开谜题的判断逻辑应该写在后端，比如谜题答案是存储在后端的，游戏通关发送的成功api应该带上一个校验id，这个校验id会在每次游戏开始后，由后端发送给前端，前端在通关后，必须带上正确的校验id，否则认为是用户作弊，不予通过。
3. 如果输入了错误的uuid地址，展示的页面是一个error网页。
4. 前端页面要简洁美观

## 技术栈
前端：
vue
tailwind
typescript

后端：
java

## 项目位置
前端: nazo-frontend
后端: src/main